body.theme1 {
    background: linear-gradient(135deg,#2a003f, #4a148c);
    color: black     
}
body.theme2 {
    background: linear-gradient(135deg, #ff9a9e, #fecfec);
    color:black;
}
body.theme3 {
    background: linear-gradient(135deg, #001f3f, #003366 #005f73);
    color: black;
}
.container {
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 30px rgba(0,0,0,0.2);
}
.glass {
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
}
input, button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin: 10px;
}
.result-box {
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
    background: rgba(255,255,255,0.2);
}
.theme-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
}
.theme-switcher button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
}
.weather-box {
    width: 200px;
    padding: 15px;
    background: rgba(255,255,255,0.8);
    border-radius: 12px;
    font-size: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1)
}
.outfit-box {
    flex: 1;
    text-align: center;
    padding: 30px;
    background: rgba(255,255,255,0.9);
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    transform: scale(1.05);

}
body.purple .weather-box,
body.purple .outfit-box {
    background: rgba(50,0,70,0.8);
    color: #fff3e0;
}
body.ocean .weather-box,
body.ocean .outfit-box {
    background: rgba(0,30,60,0.8);
    color: #e0f7fa
}
.highlight {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
}
.shop-btn {
    display: inline-block;
    padding: 12px 20px;
    background: #ff4081;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}
.shop-btn:hover {
    background: #e91e63;
}